html, body, #wrapper {
  margin:0px;
  padding:0px;
  font-size:14px;
  width:100%;
  height:100%;
}
body > #wrapper {
  height:auto; 
  min-height:100%;
}

a:hover {
  color:#99f;/* TODO: byt ut till nåt vettigt */
}

a, a:visited {
  color:#66f;
  text-decoration:none;
}

h2 {
  padding:.5em;
  margin:0px;
  color:#66f;
  vertical-align:middle;
}

h3 {
  font-weight:normal;
  padding:.5em;
  padding-left:0px;
  margin:0px;
  font-size:14px;
  color:#66f;
}

div#contents {
  display:inline-block;
}
div#contents:after {
  content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Hides from IE-mac */
* html #contents {
  height:1%;
}
#contents {
  display:block;
}
/* End hide from IE-mac */


div#header {
  height:130px;
  width:100%;
  background-color:#fff;
/*  text-align:center;*/
  margin-left:auto;
  margin-right:auto;
  margin-bottom:0px;
}
div#title {
  background-color:#bbf;
  height:45px;
  padding-left:200px;
  padding-right:200px;
  vertical-align:middle;
}
div#navigation {
  float:left;
  padding-left:0.5em;
  width:140px;
  display:inline-block;
  padding-bottom:190px;
  margin:0px;
}
div#navigation p {
  font-style:italic;
  padding-bottom:0px;
  margin-bottom:0px;
}

div#navigation ul {
  list-style:none;
  font-size:12pt;
  padding-left:1em;
  padding-top:0em;
  margin-top:0.5em;
  height:100%;
}

div#additional_content {
  width:200px;
  float:right;
}

div#contents {
  padding-top:0px;
  margin-top:1em;
  margin-left:200px;
  padding-right:20px;
  display:block;
  padding-bottom:45px;
  max-width:500px;
}

.source em {
	font-size:smaller;
}

div#contents > p:first-child {display:none;} /* fulhack för att få bort den atuogenererade p-taggen... jävla textile */
div#contents p, div#additional_content p {
  font-size:12pt;
  text-align:justify;
}

div#additional_content * {
  padding:.5em;
}

div#footer {
  position:relative;
  height:190px;
  width:150px;
  padding:0px;
  margin:0px;
  margin-top:-190px;
  text-align:center;
}
div#footer p {
  padding:0.5em;
  padding-bottom:0px;
  margin:0px;
}

div#footer p em {
  color:#66f;
  padding:0px;
  margin:0px;
}

div.centered_image {
  text-align:center;
  margin-right:auto;
  margin-left:auto;
  font-style:italic;
}

div.centered_image em {
  display:block;
  font-size:smaller;
  margin-top:0px;
}

p.centered_text {
  font-style:italic;
}

div.imagemap img {
  width:100%;
  border:0px;
}
address {
	text-align:left;
	white-space:pre-wrap;
	margin:0px;
	padding:0px;
	padding-left:0.5em;
}
